.navbar {
    background-color: #f7f7f7; 
    padding: 10px 20px;
    height: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 

    border-bottom: 1px solid #e0e0e0; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: #1a1a1a; 
}

.logoIcon {
    color: #00e0b7; 
    font-size: 1.5rem;
}

.logoText {
    font-weight: 800;
    font-size: 1.3rem;
}

.logoImage {
    height: 36px; 
    width: auto;
}

.navList {
    display: flex;
    list-style: none; 
    gap: 24px; 
    align-items: center;
    margin: 0;
    padding: 0;
}

.navLink {
    color: #444444; 
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.2s;
}

.navLink:hover {
    color: #00e0b7; 
    font-weight: 500;
}